<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center ">
    <div class=" flex gap-x-4 flex-col text-white [&>p]:mb-4 [&>p]:text-pretty [&>p>strong]:text-purple-200 [&>p>strong]:font-semibold order-2 md:order-1">
        <h5 class="font-bold pb-5 text-2xl">Hi, I'm Julian!</h5>
        <p class="">
            From early Arduino projects to my current Computer Engineering studies at Universidad de La Sabana, I’ve always been passionate about technology. I’ve developed a strong foundation in front-end development (<strong> HTML, CSS, JavaScript, React, React Native </strong>) through hands-on experience at Coderhouse and expanded my skills with <strong>MongoDB, Redux, and SQLite</strong>.
        </p>
        <p class="">
            With <strong>C1-level English (IELTS)</strong>, I collaborate easily in international teams using SCRUM and Git/GitHub. I’ve earned honors in technology subjects, <strong>represented my school in national progammation competitions </strong>, and recently volunteered at my university’s hackathon. I'm eager to contribute to innovative front-end projects while continuing to grow and learn.
        </p>
    </div>
    <img src="projects/me.webp" alt="" class="size-72 order-1 md:order-2">
</section>